@mixin bgColor-themeDark {
    background-color: #821d86;
}

@mixin bgColor-themePrimary {
    background-color: #600063;
}

@mixin bgColor-themeSecondary{
    background-color: #a54aa8;
}

@mixin fontColor-themePrimary {
    color: #600063;
}

@mixin loaderBoxShadow-themeSecondary{
    box-shadow: 0 10px 0 0 #a54aa8;
}

@mixin singlePxBorder-white{
    border:1px solid #fff
}

@mixin singlePxBorder-themePrimary{
    border:1px solid #600063
}