@import "~office-ui-fabric-core/dist/sass/fabric";
@import "../themeColors.scss";


.tile-container{
    padding:20px;
    box-shadow: 0px 0px 15px  #a6a6a6;
    @include ms-font-l;
    @include ms-bgColor-white;
    @include ms-fontColor-neutralPrimary;
    

    h1{
        @include ms-fontColor-neutralPrimary; 
    }
    h2{
        @include ms-fontColor-neutralSecondary;
        margin-block-start: 0;
    }
    h3{
        @include ms-fontColor-neutralPrimary; 
    }
  
    .flex-container {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        .flex-tile {
            width: 100%;
            margin: 5px;
            padding:5px;
            span.tile-bullet{                
                @include ms-font-xl;
                margin-right: 5px;
                margin-top: 0;
                float: left;
            }
            .tile-header{
                @include ms-font-l;
                @include ms-fontColor-neutralPrimary; 
            }  
            .tile-body{
                @include ms-font-m;
                @include ms-fontColor-neutralSecondary; 
                .tile-open{
                    float:right;
                    margin-top:-15px;
                }
            }
          }

          .flex-tile:hover{            
            // @include ms-bgColor-themeLight;  
            // @include ms-fontColor-neutralSecondary;  
            cursor: pointer;
            span.tile-bullet{                
                @include ms-fontColor-themePrimary; 
            }
            .tile-body{
                // @include ms-fontColor-neutralSecondary; 
            }
          }

    }

    .current{
        margin:5% 0;
        padding:30px 20px;
        @include ms-font-m-plus;
        @include bgColor-themePrimary;      
        border-radius: 5px;    
        box-shadow: 5px 5px 15px #666;

        h2{
            @include ms-fontColor-white;
            margin-block-start: 0;
        }

        .tile-add-icon{
            @include ms-font-xxl;
            @include ms-fontColor-neutralPrimary; 
            float:right;
            position: absolute;
            top:20px;
            right:20px;
        }

        .tile-more-results{
            @include ms-fontColor-white; 
            float:right;  
        }

        .flex-container{
            .flex-tile{
                width: 90%;
                padding: 10px 5px;
                border-radius: 3px;
                @include singlePxBorder-themePrimary;
                .tile-header{
                    @include ms-font-l;
                    @include ms-fontColor-white; 
                    white-space: nowrap;
                }  
                .tile-body{
                    @include ms-font-m;
                    @include ms-fontColor-neutralLight; 
                    .tile-open{
                        float:right;
                        margin-top:-15px;
                    }
                }
            }
            .flex-tile:hover{
                @include bgColor-themeSecondary;                
                @include singlePxBorder-white
            }
        }
    }
    
    
}


@keyframes lds-eclipse {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-eclipse {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .lds-eclipse {
    position: relative;
  }
  .lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 2s linear infinite;
    animation: lds-eclipse 2s linear infinite;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    @include loaderBoxShadow-themeSecondary;
    -webkit-transform-origin: 72px 77px;
    transform-origin: 72px 77px;
  }
  .lds-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }
  .lds-label{
    position: absolute;
    width: 144px;
    height: 144px;
    top: 78px;
    left: 48px;
    @include fontColor-themePrimary; 
    @include ms-font-xxl;
    @include ms-fontWeight-semibold;
  }

